<ul class="area-pagination z-20 flex justify-start fixed shadow-md bg-white text-b9 text-xxs font-semibold h-10 px-2">
    <li>
        <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path
                        d="M11.2949 12L17.2949 6L18.7049 7.41L14.1249 12L18.7049 16.59L17.2949 18L11.2949 12Z"
                        fill="#B9BDC7" />
                    <path
                        d="M5.29492 12L11.2949 6L12.7049 7.41L8.12492 12L12.7049 16.59L11.2949 18L5.29492 12Z"
                        fill="#B9BDC7" />
                </g>
            </svg>
        </a>
    </li>
    <li>
        <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path
                        d="M8.29492 12L14.2949 6L15.7049 7.41L11.1249 12L15.7049 16.59L14.2949 18L8.29492 12Z"
                        fill="#B9BDC7" />
                </g>
            </svg>
        </a>
    </li>
    <li class="active">
        <a href="#">
            <span>1</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>2</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>3</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>4</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>5</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>6</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path
                        d="M8.29492 7.41L12.8749 12L8.29492 16.59L9.70492 18L15.7049 12L9.70492 6L8.29492 7.41Z"
                        fill="currentColor" />
                </g>
            </svg>
        </a>
    </li>
    <li>
        <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.7051 12L6.70508 6L5.29508 7.41L9.87508 12L5.29508 16.59L6.70508 18L12.7051 12Z"
                    fill="currentColor" />
                <path
                    d="M18.7051 12L12.7051 6L11.2951 7.41L15.8751 12L11.2951 16.59L12.7051 18L18.7051 12Z"
                    fill="currentColor" />
            </svg>
        </a>
    </li>
</ul>