<div class="flex w-full items-center text-b9 text-xs font-medium px-5 h-16">
    <span>Информация об объекте</span>
</div>
<div class="object-info flex flex-wrap w-full py-5 px-5 bg-65 text-white">
    <div class="object-info__name flex w-full items-start relative">
        <span class="font-bold text-base">Общество с ограниченной ответственностью «ПРОМОБОТ Иван Иванович и его компания»</span>
        <div class="information-dots cursor-pointer ml-auto flex-shrink-0">
            <div class="relative">
                <svg width="35" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="icon/navigation/more_vert_24px">
                        <path id="icon/navigation/more_vert_24px_2" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM10 18C10 16.9 10.9 16 12 16C13.1 16 14 16.9 14 18C14 19.1 13.1 20 12 20C10.9 20 10 19.1 10 18Z"
                            fill="white" />
                    </g>
                </svg>
                <div class="info-fields hidden absolute">
                    <ul class="flex flex-col text-24021">
                        <li class="info-fields__item inline-flex items-center">
                            Развернуть все связи
                        </li>
                        <li class="info-fields__item inline-flex items-center">
                            Выделить связанные объекты
                        </li>
                        <li class="info-fields__item inline-flex items-center">
                            Добавить в чёрный список
                        </li>
                        <li class="info-fields__item inline-flex items-center">
                            Поиск в Яндексе
                        </li>
                        <li class="info-fields__item inline-flex items-center">
                            Бизнес-справка
                        </li>
                        <li class="info-fields__item inline-flex items-center">
                            Исследовать в новой вкладке
                        </li>
                        <li class="info-fields__item inline-flex items-center">
                            Удалить
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full items-center mt-1">
        <span class="inline-block text-medium">Действующая организация</span>
    </div>
    <div class="flex flex-wrap tracking-wide w-full mt-3">
        <div class="flex w-full mt-3">
            <div class="inline-flex flex-shrink-0 font-medium opacity-75 w-20">
                ИНН
            </div>
            <div class="inline-flex font-semibold">
                5903113639
            </div>
        </div>
        <div class="flex w-full mt-3">
            <div class="inline-flex flex-shrink-0 font-medium opacity-75 w-20">
                ОГРН
            </div>
            <div class="inline-flex font-semibold">
                1155958016411
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap w-full px-5  overflow-auto">
    <div class="inline-flex flex-wrap w-full">
        <form class="list-search inline-flex w-full border-b border-c4 my-5 relative">
            <input type="search" class="py-1 inline-flex flex-grow cursor-text focus:outline-none"
                   placeholder="Поиск" />
            <div class="list-search__clear inline-flex absolute right-0 flex-shrink-0 items-start hover:opacity-75 bg-white flex-shrink-0 cursor-pointer z-20" onclick="this.previousElementSibling.value = ''">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="icon/content/clear_24px" opacity="0.5">
                        <path id="icon/content/clear_24px_2" d="M12.6667 4.27325L11.7267 3.33325L8.00001 7.05992L4.27334 3.33325L3.33334 4.27325L7.06001 7.99992L3.33334 11.7266L4.27334 12.6666L8.00001 8.93992L11.7267 12.6666L12.6667 11.7266L8.94001 7.99992L12.6667 4.27325Z" fill="black" fill-opacity="0.54"></path>
                    </g>
                </svg>
            </div>
        </form>
    </div>
</div>
<div class="flex flex-wrap w-full border-t border-ed py-5 px-5">
    <div class="inline-flex w-full text-b9 text-xs mb-4">
        <div class="flex w-full items-center">
            <div class="inline-flex font-medium mr-3">Учредители</div>
            <div class="inline-flex bg-e8 rounded-full h-5 items-center justify-center font-semibold"
                style="min-width: 1.25rem;">
                <span class="px-1">6</span>
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="text-b9 inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.99996 2.6665C6.52663 2.6665 5.33329 3.85984 5.33329 5.33317C5.33329 6.8065 6.52663 7.99984 7.99996 7.99984C9.47329 7.99984 10.6666 6.8065 10.6666 5.33317C10.6666 3.85984 9.47329 2.6665 7.99996 2.6665ZM9.33329 5.33317C9.33329 4.59984 8.73329 3.99984 7.99996 3.99984C7.26663 3.99984 6.66663 4.59984 6.66663 5.33317C6.66663 6.0665 7.26663 6.6665 7.99996 6.6665C8.73329 6.6665 9.33329 6.0665 9.33329 5.33317ZM12 11.9998C11.8666 11.5265 9.79996 10.6665 7.99996 10.6665C6.20663 10.6665 4.15329 11.5198 3.99996 11.9998H12ZM2.66663 11.9998C2.66663 10.2265 6.21996 9.33317 7.99996 9.33317C9.77996 9.33317 13.3333 10.2265 13.3333 11.9998V13.3332H2.66663V11.9998Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            Чугунов Максим
                            Петрович sdf dsfd sdf dff</span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="text-b9 inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.99996 2.6665C6.52663 2.6665 5.33329 3.85984 5.33329 5.33317C5.33329 6.8065 6.52663 7.99984 7.99996 7.99984C9.47329 7.99984 10.6666 6.8065 10.6666 5.33317C10.6666 3.85984 9.47329 2.6665 7.99996 2.6665ZM9.33329 5.33317C9.33329 4.59984 8.73329 3.99984 7.99996 3.99984C7.26663 3.99984 6.66663 4.59984 6.66663 5.33317C6.66663 6.0665 7.26663 6.6665 7.99996 6.6665C8.73329 6.6665 9.33329 6.0665 9.33329 5.33317ZM12 11.9998C11.8666 11.5265 9.79996 10.6665 7.99996 10.6665C6.20663 10.6665 4.15329 11.5198 3.99996 11.9998H12ZM2.66663 11.9998C2.66663 10.2265 6.21996 9.33317 7.99996 9.33317C9.77996 9.33317 13.3333 10.2265 13.3333 11.9998V13.3332H2.66663V11.9998Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            Утев Максим
                            Алексеевич
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="text-b9 inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.99996 2.6665C6.52663 2.6665 5.33329 3.85984 5.33329 5.33317C5.33329 6.8065 6.52663 7.99984 7.99996 7.99984C9.47329 7.99984 10.6666 6.8065 10.6666 5.33317C10.6666 3.85984 9.47329 2.6665 7.99996 2.6665ZM9.33329 5.33317C9.33329 4.59984 8.73329 3.99984 7.99996 3.99984C7.26663 3.99984 6.66663 4.59984 6.66663 5.33317C6.66663 6.0665 7.26663 6.6665 7.99996 6.6665C8.73329 6.6665 9.33329 6.0665 9.33329 5.33317ZM12 11.9998C11.8666 11.5265 9.79996 10.6665 7.99996 10.6665C6.20663 10.6665 4.15329 11.5198 3.99996 11.9998H12ZM2.66663 11.9998C2.66663 10.2265 6.21996 9.33317 7.99996 9.33317C9.77996 9.33317 13.3333 10.2265 13.3333 11.9998V13.3332H2.66663V11.9998Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            Южаков Максим
                            Алексеевич
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="text-green inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.99996 2.6665C6.52663 2.6665 5.33329 3.85984 5.33329 5.33317C5.33329 6.8065 6.52663 7.99984 7.99996 7.99984C9.47329 7.99984 10.6666 6.8065 10.6666 5.33317C10.6666 3.85984 9.47329 2.6665 7.99996 2.6665ZM9.33329 5.33317C9.33329 4.59984 8.73329 3.99984 7.99996 3.99984C7.26663 3.99984 6.66663 4.59984 6.66663 5.33317C6.66663 6.0665 7.26663 6.6665 7.99996 6.6665C8.73329 6.6665 9.33329 6.0665 9.33329 5.33317ZM12 11.9998C11.8666 11.5265 9.79996 10.6665 7.99996 10.6665C6.20663 10.6665 4.15329 11.5198 3.99996 11.9998H12ZM2.66663 11.9998C2.66663 10.2265 6.21996 9.33317 7.99996 9.33317C9.77996 9.33317 13.3333 10.2265 13.3333 11.9998V13.3332H2.66663V11.9998Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            Кивокурцев Олег
                            Алексеевич
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">ИНН
                            5903113639</span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.00004 2V4.66667H14.6667V14H1.33337V2H8.00004ZM2.66674 12.6666H4.00007V11.3333H2.66674V12.6666ZM4.00007 10.0001H2.66674V8.66673H4.00007V10.0001ZM2.66674 7.33333H4.00007V6H2.66674V7.33333ZM4.00007 4.6666H2.66674V3.33327H4.00007V4.6666ZM5.33337 12.6666H6.66671V11.3333H5.33337V12.6666ZM6.66671 10.0001H5.33337V8.66673H6.66671V10.0001ZM5.33337 7.33333H6.66671V6H5.33337V7.33333ZM6.66671 4.6666H5.33337V3.33327H6.66671V4.6666ZM8.00001 12.6667H13.3333V6H8.00001V7.33333H9.33334V8.66667H8.00001V10H9.33334V11.3333H8.00001V12.6667ZM12.0001 7.33327H10.6667V8.6666H12.0001V7.33327ZM10.6667 10H12.0001V11.3333H10.6667V10Z"
                    fill="#188B31" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            АО «МИР»
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН 5903113639 /
                            ОГРН 115595801
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2 text-b9">
        <div class="flex items-center">
            <svg class="text-b9 inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.99996 2.6665C6.52663 2.6665 5.33329 3.85984 5.33329 5.33317C5.33329 6.8065 6.52663 7.99984 7.99996 7.99984C9.47329 7.99984 10.6666 6.8065 10.6666 5.33317C10.6666 3.85984 9.47329 2.6665 7.99996 2.6665ZM9.33329 5.33317C9.33329 4.59984 8.73329 3.99984 7.99996 3.99984C7.26663 3.99984 6.66663 4.59984 6.66663 5.33317C6.66663 6.0665 7.26663 6.6665 7.99996 6.6665C8.73329 6.6665 9.33329 6.0665 9.33329 5.33317ZM12 11.9998C11.8666 11.5265 9.79996 10.6665 7.99996 10.6665C6.20663 10.6665 4.15329 11.5198 3.99996 11.9998H12ZM2.66663 11.9998C2.66663 10.2265 6.21996 9.33317 7.99996 9.33317C9.77996 9.33317 13.3333 10.2265 13.3333 11.9998V13.3332H2.66663V11.9998Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden line-through">
                            Кивокурцев Олег
                            Алексеевич
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap w-full border-t border-ed py-5 px-5">
    <div class="inline-flex w-full text-b9 text-xs mb-4">
        <div class="flex w-full items-center">
            <div class="inline-flex font-medium mr-3">Руководители</div>
            <div class="inline-flex bg-e8 rounded-full h-5 items-center justify-center font-semibold"
                style="min-width: 1.25rem;">
                <span class="px-1">1</span>
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="text-b9 inline-flex flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.99996 2.6665C6.52663 2.6665 5.33329 3.85984 5.33329 5.33317C5.33329 6.8065 6.52663 7.99984 7.99996 7.99984C9.47329 7.99984 10.6666 6.8065 10.6666 5.33317C10.6666 3.85984 9.47329 2.6665 7.99996 2.6665ZM9.33329 5.33317C9.33329 4.59984 8.73329 3.99984 7.99996 3.99984C7.26663 3.99984 6.66663 4.59984 6.66663 5.33317C6.66663 6.0665 7.26663 6.6665 7.99996 6.6665C8.73329 6.6665 9.33329 6.0665 9.33329 5.33317ZM12 11.9998C11.8666 11.5265 9.79996 10.6665 7.99996 10.6665C6.20663 10.6665 4.15329 11.5198 3.99996 11.9998H12ZM2.66663 11.9998C2.66663 10.2265 6.21996 9.33317 7.99996 9.33317C9.77996 9.33317 13.3333 10.2265 13.3333 11.9998V13.3332H2.66663V11.9998Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            Чугунов Максим
                            Петрович
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                    <div class="inline-flex w-full text-purple font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            Генеральный директор
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap w-full border-t border-ed py-5 px-5">
    <div class="inline-flex w-full text-b9 text-xs mb-4">
        <div class="flex w-full items-center">
            <div class="inline-flex font-medium mr-3">Учреждённые организации</div>
            <div class="inline-flex bg-e8 rounded-full h-5 items-center justify-center font-semibold"
                style="min-width: 1.25rem;">
                <span class="px-1">4</span>
            </div>
        </div>
    </div>
    <div class="inline-flex w-full py-2">
        <div class="flex items-center">
            <svg class="inline-flex text-green flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.00004 2V4.66667H14.6667V14H1.33337V2H8.00004ZM2.66674 12.6666H4.00007V11.3333H2.66674V12.6666ZM4.00007 10.0001H2.66674V8.66673H4.00007V10.0001ZM2.66674 7.33333H4.00007V6H2.66674V7.33333ZM4.00007 4.6666H2.66674V3.33327H4.00007V4.6666ZM5.33337 12.6666H6.66671V11.3333H5.33337V12.6666ZM6.66671 10.0001H5.33337V8.66673H6.66671V10.0001ZM5.33337 7.33333H6.66671V6H5.33337V7.33333ZM6.66671 4.6666H5.33337V3.33327H6.66671V4.6666ZM8.00001 12.6667H13.3333V6H8.00001V7.33333H9.33334V8.66667H8.00001V10H9.33334V11.3333H8.00001V12.6667ZM12.0001 7.33327H10.6667V8.6666H12.0001V7.33327ZM10.6667 10H12.0001V11.3333H10.6667V10Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ООО «АЙБОКС ТЕХНОЛОДЖИ»
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
    <div class="inline-flex text-b9 w-full py-2">
        <div class="flex items-center">
            <svg class="inline-flex text-b9 flex-shrink-0 self-start" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.00004 2V4.66667H14.6667V14H1.33337V2H8.00004ZM2.66674 12.6666H4.00007V11.3333H2.66674V12.6666ZM4.00007 10.0001H2.66674V8.66673H4.00007V10.0001ZM2.66674 7.33333H4.00007V6H2.66674V7.33333ZM4.00007 4.6666H2.66674V3.33327H4.00007V4.6666ZM5.33337 12.6666H6.66671V11.3333H5.33337V12.6666ZM6.66671 10.0001H5.33337V8.66673H6.66671V10.0001ZM5.33337 7.33333H6.66671V6H5.33337V7.33333ZM6.66671 4.6666H5.33337V3.33327H6.66671V4.6666ZM8.00001 12.6667H13.3333V6H8.00001V7.33333H9.33334V8.66667H8.00001V10H9.33334V11.3333H8.00001V12.6667ZM12.0001 7.33327H10.6667V8.6666H12.0001V7.33327ZM10.6667 10H12.0001V11.3333H10.6667V10Z"
                    fill="currentColor" />
            </svg>
            <div class="inline-flex ml-3">
                <div class="flex flex-wrap w-full">
                    <div class="inline-flex w-full font-semibold min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden line-through">
                            ООО «АЙБОКС ТЕХНОЛОДЖИ»
                        </span>
                    </div>
                    <div class="inline-flex w-full text-b9 font-medium min-w-0">
                        <span class="w-40 min-w-0 whitespace-no-wrap text-overflow overflow-hidden">
                            ИНН
                            5903113639
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="percent-blue-figure inline-flex flex-shink-0 ml-auto text-xxs text-blue bg-e8 font-medium items-center justify-center px-1">
                20%
            </div>
        </div>
    </div>
</div>


</div>