<div class="flex w-full items-center text-b9 text-xs font-medium px-6 h-16">
    <span>Дерово связей</span>
</div>
<div class="flex flex-wrap w-full px-6 border-t border-ed overflow-auto">
    <div class="inline-flex flex-wrap w-full">
        //= list-search-input.html
    </div>
</div>
<div class="list-tree flex flex-wrap pb-10 pl-10 pr-6">
    <div class="item inline-flex  overflow-visible relative min-w-0 mt-2">
        <svg class="item-line-down absolute" style="top: 50%; transform: translateX(-100%);" width="16" height="52" viewBox="0 0 16 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 52L0.999998 0" stroke="#00599A"/>
            <line x1="1" y1="0.5" x2="16" y2="0.5" stroke="#00599A"/>
        </svg>
        <div class="item__inner flex items-center justify-center w-full h-full px-4">
            <div class="inline-flex items-center justify-center">
                <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 7H22V21H2V3H12V7ZM4 19H6V17H4V19ZM6 15H4V13H6V15ZM4 11H6V9H4V11ZM6 7H4V5H6V7ZM8 19H10V17H8V19ZM10 15H8V13H10V15ZM8 11H10V9H8V11ZM10 7H8V5H10V7ZM20 19V9H12V11H14V13H12V15H14V17H12V19H20ZM18 11H16V13H18V11ZM16 15H18V17H16V15Z"
                          fill="#188B31"/>
                </svg>
            </div>
            <div class="item__text inline-flex min-w-0 mx-2">
                <div class="flex flex-wrap  min-w-0">
                    <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                        <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                    </div>
                    <div
                            class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                        <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item inline-flex  overflow-visible relative min-w-0 mt-2">
        <svg class="item-line-down absolute" style="top: 50%; transform: translateX(-100%);" width="16" height="52" viewBox="0 0 16 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 52L0.999998 0" stroke="#00599A"/>
            <line x1="1" y1="0.5" x2="16" y2="0.5" stroke="#00599A"/>
        </svg>
        <div class="item__inner flex items-center justify-center w-full h-full px-4">
            <div class="inline-flex items-center justify-center">
                <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14 8C14 6.9 13.1 6 12 6C10.9 6 10 6.9 10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8ZM18 18C17.8 17.29 14.7 16 12 16C9.31 16 6.23 17.28 6 18H18ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V20H4V18Z"
                          fill="#B9BDC7"/>
                </svg>
            </div>
            <div class="item__text inline-flex min-w-0 mx-2">
                <div class="flex flex-wrap  min-w-0">
                    <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                        <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                    </div>
                    <div
                            class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                        <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item inline-flex  overflow-visible relative min-w-0 mt-2">
        <svg class="item-line-down absolute" style="top: 50%; transform: translateX(-100%);" width="16" height="52" viewBox="0 0 16 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 52L0.999998 0" stroke="#00599A"/>
            <line x1="1" y1="0.5" x2="16" y2="0.5" stroke="#00599A"/>
        </svg>
        <div class="item__inner flex items-center justify-center w-full h-full px-4">
            <div class="inline-flex items-center justify-center">
                <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14 8C14 6.9 13.1 6 12 6C10.9 6 10 6.9 10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8ZM18 18C17.8 17.29 14.7 16 12 16C9.31 16 6.23 17.28 6 18H18ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V20H4V18Z"
                          fill="#B9BDC7"/>
                </svg>
            </div>
            <div class="item__text inline-flex min-w-0 mx-2">
                <div class="flex flex-wrap  min-w-0">
                    <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                        <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                    </div>
                    <div
                            class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                        <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-6">
        <div class="item gray inline-flex relative min-w-0 mt-2">
            <svg class="absolute" style="top: 50%; transform: translate(-100%, -50%);" width="40" height="5"
                 viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 2.5H36.2791" stroke="#00599A"/>
                <path d="M40 2.5L36.2791 0V5L40 2.5Z" fill="#00599A"/>
            </svg>
            <svg class="absolute" style="right: 0; top: 50%; transform: translate(100%, 0);" width="19" height="30" viewBox="0 0 19 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 1L16.5 1L16.5 0.500001L16 0.500001L16 1ZM16 39L18.8868 34L13.1133 34L16 39ZM15.5 1L15.5 34.5L16.5 34.5L16.5 1L15.5 1ZM16 0.500001L-1.9292e-06 0.500001L-1.88549e-06 1.5L16 1.5L16 0.500001Z" fill="#C036A2"/>
            </svg>
            <div class="item-number-left flex rounded-full absolute bg-blue text-white items-center justify-center w-5 h-5"
                 style="top: 50%; transform: translate(-150%, -50%);">
                3
            </div>
            <div class="item-number-bottom flex rounded-full absolute bg-light-blue text-white items-center justify-center w-5 h-5"
                 style="bottom: 0; transform: translate(10%, 120%);">
                2
            </div>
            <div class="item-number-right flex rounded-full absolute bg-purple text-white items-center justify-center w-5 h-5"
                 style="top: 50%; right: 0; transform: translate(120%, -50%);">
                2
            </div>
            <div class="item__inner flex items-center justify-center w-full h-full px-4 min-w-0">
                <div class="inline-flex items-center justify-center min-w-0">
                    <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12 7H22V21H2V3H12V7ZM4 19H6V17H4V19ZM6 15H4V13H6V15ZM4 11H6V9H4V11ZM6 7H4V5H6V7ZM8 19H10V17H8V19ZM10 15H8V13H10V15ZM8 11H10V9H8V11ZM10 7H8V5H10V7ZM20 19V9H12V11H14V13H12V15H14V17H12V19H20ZM18 11H16V13H18V11ZM16 15H18V17H16V15Z"
                              fill="#188B31"/>
                    </svg>
                </div>
                <div class="item__text inline-flex min-w-0 mx-2">
                    <div class="flex flex-wrap  min-w-0">
                        <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                            <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                        </div>
                        <div
                                class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                            <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pl-6">
            <div class="item inline-flex overflow-visible relative min-w-0 mt-2">
                <svg class="item-line-down absolute" style="bottom: 50%; transform: translate(-100%, 6px); z-index: -1" width="13" height="60" viewBox="0 0 13 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <line x1="1" y1="56.2266" x2="8" y2="56.2266" stroke="#338ED0"/>
                        <path d="M13 56.1814L7.75 58.5433L7.75 53.8195L13 56.1814Z" fill="#338ED0"/>
                    </g>
                    <line x1="0.5" x2="0.5" y2="56.7273" stroke="#338ED0"/>
                    <defs>
                        <clipPath id="clip0">
                            <rect y="53.4541" width="13" height="6.54546" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <div class="item__inner flex  items-center justify-center w-full h-full px-4">
                    <div class="inline-flex items-center justify-center">
                        <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 7H22V21H2V3H12V7ZM4 19H6V17H4V19ZM6 15H4V13H6V15ZM4 11H6V9H4V11ZM6 7H4V5H6V7ZM8 19H10V17H8V19ZM10 15H8V13H10V15ZM8 11H10V9H8V11ZM10 7H8V5H10V7ZM20 19V9H12V11H14V13H12V15H14V17H12V19H20ZM18 11H16V13H18V11ZM16 15H18V17H16V15Z"
                                  fill="#188B31"/>
                        </svg>
                    </div>
                    <div class="item__text inline-flex min-w-0 mx-2">
                        <div class="flex flex-wrap  min-w-0">
                            <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                                <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                            </div>
                            <div
                                    class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                                <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item inline-flex  overflow-visible relative min-w-0 mt-2">
                <svg class="item-line-down absolute" style="bottom: 50%; transform: translate(-100%, 6px); z-index: -1" width="13" height="60" viewBox="0 0 13 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <line x1="1" y1="56.2266" x2="8" y2="56.2266" stroke="#338ED0"/>
                        <path d="M13 56.1814L7.75 58.5433L7.75 53.8195L13 56.1814Z" fill="#338ED0"/>
                    </g>
                    <line x1="0.5" x2="0.5" y2="56.7273" stroke="#338ED0"/>
                    <defs>
                        <clipPath id="clip0">
                            <rect y="53.4541" width="13" height="6.54546" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <div class="item__inner flex items-center justify-center w-full h-full px-4">
                    <div class="inline-flex items-center justify-center">
                        <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14 8C14 6.9 13.1 6 12 6C10.9 6 10 6.9 10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8ZM18 18C17.8 17.29 14.7 16 12 16C9.31 16 6.23 17.28 6 18H18ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V20H4V18Z"
                                  fill="#B9BDC7"/>
                        </svg>
                    </div>
                    <div class="item__text inline-flex min-w-0 mx-2">
                        <div class="flex flex-wrap  min-w-0">
                            <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                                <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                            </div>
                            <div
                                    class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                                <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
