@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';
@import '../../node_modules/tailwindcss/utilities';

@import 'fonts';


$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}


body {
  color: #242021;
  font-family: 'Montserrat', serif;
  font-weight: normal;
  line-height: 1.5;
  word-break: break-word;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

button, input {
  outline: none;

  &:focus {
    outline: none;
  }
}

.text-overflow {
  text-overflow: ellipsis;
}

a {
  transition: .3s;
}

.width {
  &-10 {
    width: s(10);
  }
}

.height {
  &-10 {
    height: s(10);
  }
}

.begin {
  &__left {
    width: 19.5rem;
    padding-top: 3.75rem;
    padding-bottom: s(20);
  }

  &__right {
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    background-image: url(../img/entry-bg.png), linear-gradient(270deg, #00599A 0%, #053F88 100%);
  }

  &__logo {
    left: 3.2rem;
  }

  &__developer-name {
    bottom: 1rem;
    left: 3.2rem;
  }
}

.begin-item {

  &:hover {
    .begin-item__inner {
      background-color: rgba(2, 124, 220, 0.15);
    }
  }
}


.entry {
  background-image: url(../img/entry-bg.png), linear-gradient(270deg, #00599A 0%, #053F88 100%);

  &__form-box {
    max-width: s(272);
  }
}

.entry-form {
  button[type="submit"] {
    border-radius: s(20);
  }

  &__error {
    background: rgba(221, 40, 40, 0.8);
    border-radius: 12px;
  }
}

.left-panel {
  width: s(56);
  min-width: s(56);
  transition: .3s;

  background-image: linear-gradient(270deg, #00599A 0%, #053F88 100%);

  &.open {
    min-width: s(240);
    max-width: s(240);
  }

  &__item {
    color: #4885B4;

    &.active {
      background-color: #1A67A3;
      color: white;
    }
  }
}

.top-panel {
  height: s(56);
  min-width: s(900);

  &__logo {
    height: s(56);
  }

  &__logo-full {
    height: s(56);
  }

  .add {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: .0625rem;
      height: 1.625rem;
      display: block;
      background-color: #e0e0e0;
      left: - s(10);
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 0;
    }
  }

}

.lists-block-tools {
  height: 3.55rem;

  &__tool {
    color: #00599A;
    transition: .3s;

    &.active {
      color: #C4C4C4;
      pointer-events: none;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        height: s(12);
        width: 1px;
        background: #ededed;
        left: 50%;
        margin-left: - 0.5px;
        bottom: - 16px;
      }
    }
  }
}

.lists-block {
  border-left: s(1) solid #ededed;
  &__regions {
    align-content: start;
  }
}


.top-panel-exit {
  max-width: s(40);
  min-width: s(40);
  position: absolute;
  top: 1.25rem;
  transform: translateX(-130%) rotateY(0);

  &.close {
    transform: translateX(-50%) rotateY(180deg);
  }
}

.top-panel-tabs {
  flex-shrink: 10;
  min-width: s(792);
}

.top-panel-tab {
  position: relative;
  z-index: 1;
  min-width: s(95);
  box-sizing: border-box;
  position: relative;
  transition: .1s;

  &__text {
    width: 12.75rem;
    min-width: s(15);
  }

  &__aim {
    min-width: s(5);
  }

  &__close {
    min-width: s(15);
  }
}

.top-panel-tab:not(.bg-f2) {
  &:hover {
    background-color: #E0E0E0;
  }

  &::after {
    content: '';
    position: absolute;
    width: s(1);
    height: s(26);
    display: block;
    background-color: #E0E0E0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.top-panel-tab:first-child {
  &::after {
    display: none;
  }
}

.top-panel-tab {
  &:hover {
    &::after {
      display: none!important;
    }
  }
}

.top-panel-tab:hover + .top-panel-tab::after {
  display: none!important;
}

.top-panel-tab.bg-f2 + .top-panel-tab::after {
  display: none!important;
}

.top-panel-inputs {
  min-width: s(832);
}

.top-panel-input {
  height: s(40);

  &__text {
    width: s(270);
    min-width: s(270);
  }

  &__clear {
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);

  }
}

.list-search {

  &__clear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.center-sector {
  min-width: s(900);
}

.connections-fixed-head {
  height: 9.8rem;
  padding-left: 4.6875rem;
  padding-right: 4.6875rem;
}

.area {
  height: calc(100% - 3.5rem);
  min-width: s(900);

  &__inner {
    min-width: s(900);
  }

  &__container {
    max-width: s(1120);
    width: s(1120);
    //min-width: s(1044);
    min-width: s(900);
  }

  &_under-big-panel {
    height: calc(100% - 7.5rem);
  }

  &_connections {
    height: calc(100% - 12.25rem);
  }
}

.area-left-tools {
  height: auto;
  left: 1.5rem;
  top: s(52);
  align-items: start;
  width: s(40);

  &_top_24px {
    top: s(24);
  }

  &__tool {
    &:active {
      color: #C4C4C4;
    }
  }
}

.lists-block {
  min-width: s(340);
  max-width: s(340);
  box-shadow: 0px 16px 24px rgba(115, 115, 115, 0.2);
  position: relative;
  z-index: 10;

  &__inner-wrap {
    padding-top: s(56);
  }

  &__regions {
    height: s(273);
    transition: .3s;

    &.open {
      height: auto;
    }
  }
}

.area-right-tools {
  width: s(40);
  height: s(208);
  right: 1.5rem;
  bottom: 10rem;
  z-index: 100;

  &_bottom_24px {
    bottom: s(24);
  }

  &_h_auto {
    height: auto;
  }

  &__tool {
    &:active {
      color: #C4C4C4;
    }
  }
}

.zoom-tool {
  border-radius: s(20);

  &__plus {
    &:active {
      color: #C4C4C4;
    }
  }

  &__minus {
    margin-top: s(1);

    &:active {
      color: #C4C4C4;
    }
  }
}


.item {
  background: #FFFFFF;
  box-shadow: 0 10px 15px rgba(115, 115, 115, 0.05);
  border-radius: s(22);
  transition: .3s;
  width: s(310);
  height: s(44);
  flex-shrink: 0;
  overflow: hidden;

  &__list-icon {
    width: s(44);
    height: s(44);
    margin-left: -1rem;
  }

  &_connections {
    width: s(247);
    position: relative;
    overflow: visible;
    //box-shadow: 0 16px 24px rgba(115, 115, 115, 0.2);
    border: 1px solid #f2f2f2;

    &_mr_48 {
      margin-right: s(48);
    }

    &:hover {
        z-index: 99;
    }


    .item__arrow {
      display: block;
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translate(100%, 50%);


      &_reversed {
        transform: translate(100%, 50%) rotate(180deg);
      }
    }
  }

  &_connections_no-arrow{
    .item__arrow {
      opacity: 0;
    }
  }

  &_ml_100 {
    margin-left: -15.43rem;
  }

  &__inner {
    padding-top: s(9);
    padding-bottom: s(9);
  }


  &__text {
    max-width: 10.5rem;
    line-height: 1.3;
  }

  &__req {
    text-overflow: ellipsis;
    color: #A09396;
    flex-shrink: 0;
  }

  &__digits {
    width: s(70);
  }

  &__digit {
    font-size: s(12);
    font-weight: 600;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  &_mini {
    width: s(32);
    height: s(32);

    .item__list-icon {
      margin-left: 0;
    }

    .item__inner {
      padding: 0;
    }

    .item__icon {
      width: s(16);
      height: s(16);
    }

    .item__text {
      max-width: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .item__digits {
      width: 0;
    }

    &:hover {
      width: s(310);
      height: s(44);

      .item__inner {
        padding: s(9) 1rem;
      }

      .item__icon {
        width: s(24);
        height: s(24);
      }

      .item__text {
        max-width: 10.5rem;
        margin-left: s(8);
        margin-right: s(8);
      }

      .item__digits {
        width: s(70);
      }

      .item__list-icon {
        margin-left: -1rem;
      }

    }
  }

  &_selected {
    background-color: #656565;

    .item__name {
      color: #fff;
    }

    .item__req {
      color: rgba(255, 255, 255, 0.7);
    }

  }
}

.list-tree {
  .item {
    background-color: #F2F2F2;
    position: relative;
    overflow: visible;
    width: s(220);

    &_selected {
      background-color: #656565;
    }
  }
}

.choice-button {
  width: s(240);
  height: s(44);
  border-radius: s(22);
}

.list-way {
  .item {
    width: auto;
    background-color: #F2F2F2;
    position: relative;
    overflow: visible;
  }
}

.check-controls {
  flex-grow: 1;
  flex-shrink: 0;

  &__check-custom {
    width: 1rem;
    height: 1rem;
    border-radius: s(4);
    background-size: s(10) s(8);
    background-position: center;
    background-repeat: no-repeat;
    border-width: s(1.5);
    transition: .3s;
  }

  &__check-favorite {
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/star_outline_24px_outlined.svg);
  }

}

.check-controls__checkbox:checked + .check-controls__check-custom {
  background-color: #00599A;
  border-color: transparent;
  background-image: url(../img/check-custom.png);
}

.check-controls__checkbox:checked + .check-controls__check-favorite {
  background-image: url(../img/star_outline_24px_outlined-yellow.svg);
}

.regions-show {
  height: s(32);
  width: s(127);
  background: #E8EDF9;
  box-shadow: 0px 10px 15px rgba(115, 115, 115, 0.05);
  border-radius: 20px;

  &.open {
    .regions-show__icon {
      transform: rotateX(180deg);
    }
  }
}

.area-pagination {
  border-radius: s(20);
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  &_modal {
    position: relative;
    bottom: auto;
    margin-top: s(20);
    margin-bottom: s(20);
  }
}

.results {
  &__filters {
    max-width: s(795);
  }

  &__active-filter {
    border-radius: s(12);
  }
}

.one-result {
  &__old-name {
    color: #A09396;
  }

  &__prop {
    padding-top: .15rem;
    padding-bottom: .15rem;
  }
}

.tag {
  border-radius: s(12);
}

.button-standart {
  border-radius: s(20);
  height: s(33);
  min-width: s(136);
  transition: .3s;
}

.last-search {
  &__item {
    width: s(244);
    min-width: s(244);
    height: s(64);
  }

  &__text {
    text-overflow: ellipsis;
  }
}

.preloader {
  z-index: 999;

  &__box {
    width: s(200);
    height: s(200);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__img {
    width: s(140);
    height: s(140);
    left: 50%;
    top: 50%;
    margin-left: - s(70);
    margin-top: - s(140);
    border-width: s(8);
  }

  &__rotate {
    width: s(140);
    height: s(140);
    top: - s(8);
    left: - s(8);
    border-width: s(8);
    animation-name: loader-rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  &__rotate-inner {
    &::after {
      content: '  ';
      position: absolute;
      display: block;
      width: s(24);
      height: s(24);
      background: #F2F2F2;
      top: - s(10);
      left: 50%;
      margin-left: - s(12);
    }
  }

  &__inner {
    width: 90%;
    height: 90%;
  }

}

.sk-wave {
  $rectCount: 5;
  $animationDuration: 1.2s;
  $delayRange: 0.4s;

  width: s(100);
  height: s(100);
  margin: auto;
  text-align: center;
  font-size: 1.5em;

  .sk-rect {
    background-color: #00599A;
    height: 100%;
    width: .5em;
    display: inline-block;
    animation: sk-wave-stretch-delay $animationDuration infinite ease-in-out;
  }

  @for $i from 1 through $rectCount {
    .sk-rect-#{$i} { animation-delay: - $animationDuration + $delayRange / ($rectCount - 1) * ($i - 1); }
  }
}

@keyframes sk-wave-stretch-delay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}

.lists-block .preloader__img {
  margin-top: - s(54);
}

@keyframes loader-rotate {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.filter-drop {
  &__dropdown {
    &.close {
      transform: rotate(180deg);
    }
  }
}

.percent-blue-figure {
  height: s(23);
  border-radius: s(17);
}

// кравивый чекбокс 

.switch {
  display: inline-block;
  height: 1rem;
  position: relative;
  width: 2rem;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: s(2);
  content: "";
  height: s(12);
  left: s(2);
  position: absolute;
  transition: .4s;
  width: s(12);
}

input:checked + .slider {
  background-color: #00599A;
}

input:checked + .slider:before {
  transform: translateX(s(16));
}

.slider.round {
  border-radius: s(34);
}

.slider.round:before {
  border-radius: 50%;
}

// конец

.list-icon-color, .list-icon {
  &__inner, &__icon {
    border-radius: 50%;
    width: s(30);
    height: s(30);
    position: relative;
  }


  input:checked + .list-icon-color__inner::after, input:checked + .list-icon__icon::after {
    border: 1px solid #00599A;
    content: '';
    display: block;
    position: absolute;
    width: s(36);
    height: s(36);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}

.list-icon input:checked + .list-icon__icon {
  color: #00599A;
}

.req {
  font-weight: 500;
  font-size: s(10);
  color: #656565;
  display: inline-flex;
  width: 9rem;
  flex-shrink: 0;

  &_w {
    &_85 {
      width: s(85);
    }
  }

  &_search-add {
    width: s(85);
    padding-right: .5rem;
    flex-shrink: 0;
  }

}

.search-add {
  &__item {
    margin-top: .5rem;
  }
}

::-webkit-input-placeholder {
  color: #242021;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

/* webkit */
::-moz-placeholder {
  color: #242021;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #242021;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #242021;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

/* IE */

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration,
input[type='search']::-ms-clear {
  display: none;
}

.found {
  color: #1a0dab;
}

.area-pagination {
  li {
    display: inline-flex;
    border-radius: 50%;

    &.active {
      background-color: #00599A;
      color: white;
      pointer-events: none;
    }

    a {
      transition: .3s;
      display: flex;
      height: s(40);
      width: s(40);
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: .75;
      }
    }
  }
}

.upload-panel {
  flex-shrink: 0;
  width: 18rem;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(115, 115, 115, 0.2);

  &__button {
    border-radius: s(20);
    box-shadow: 0px 10px 15px rgba(115, 115, 115, 0.05);
  }
}

.upload-item {
  &__file-name {
    max-width: 12rem;
  }
}

.upload-file {
  min-width: s(490);


  &__name {
    line-height: 1.1;
  }

  &__file-name {
    max-width: s(350);
  }
}

.modal-add-left-panel {
  min-width: s(672);
}

.modal-add-right-panel {
  min-width: s(288);
  box-shadow: 0px 16px 24px rgba(115, 115, 115, 0.2);
}

.connections {
  padding-left: s(75);
  padding-right: s(75);
}

.connections-row {
  .item_connections:last-child {
    &::after {
      display: none;
    }
  }

  &__count {
    cursor: pointer;
    border-radius: 50%;
    width: s(24);
    height: s(24);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: s(12);
    font-weight: 600;
    display: inline-flex;
    margin-right: s(10);
    background-color: white;
    color: #00599A;
    box-shadow: 0 16px 24px rgba(115, 115, 115, 0.2);

    &.purple {
      background-color: #C036A2;
      color: white;
    }

    &.green {
      background-color: #188B31;
      color: white;
    }

    &.gray {
      background-color: #656565;
      color: white;
    }

    &.selected {
      background-color: #B9BDC7;
      color: white;
    }
  }

  .item__arrow-box {
    width: 3rem;

    &_reversed {
      transform: rotateY(180deg);
    }

    .arrow {
      width: 100%;
      border-width: 0.01rem;
      position: relative;

      &_reversed {
        transform: rotateY(180deg);
      }

      &.border-dashed {
        opacity: 0.7;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: - .375rem;
        margin-top: - .25rem;
        border: transparent solid .25rem;
        border-left: solid .5rem;
        border-left-color: inherit;
      }
    }
  }

  &.condensed {
    min-width: s(1145);

    .items-center-wrap {

      .item__arrow-box {
        width: 0;
      }

      .item__arrow-box:first-child {
        width: 3rem;
      }

      .item__arrow-box:last-child {
        width: 3rem;
      }

      @media (max-width: 1679px) {
        .item_connections:not(:first-of-type) {
          margin-left: -15.43rem;
        }
      }
    }
  }
}

.info-fields {
  z-index: 30;
  right: 1rem;
  bottom: 0;
  width: s(205);
  background-color: #F8F9FA;
  border-radius: s(4);
  overflow: hidden;
  box-shadow: 0 16px 24px rgba(115, 115, 115, 0.2);
  transform: translateY(100%);

  &__item {
    padding-left: s(20);
    padding-right: s(10);
    height: 2rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #E6E7E8;
  }
}


.item, .list-way .item, .list-tree .item {
  &__icon-wrap {
    width: s(30);
    height: s(30);
  }

  &.purple {
    background-color: #C036A2;
    color: white;

    .item__req {
      color: white;
    }
  }

  &.gray {
    background-color: #656565;
    color: white;

    .item__req {
      color: white;
    }
  }

  &.green {
    background-color: #188B31;
    color: white;

    .item__req {
      color: white;
    }
  }

  &__down-arrow {
    bottom: 0;
    left: 1.5rem;
    transform: translateY(100%);

    &_right {

    }

    &_reversed {
      transform: translateY(100%) rotate(180deg);
    }
  }

  &__down-arrow-right {
    bottom: 0;
    right: 1.5rem;
    transform: translateY(100%);

    &_reversed {
      transform: translateY(100%) rotate(180deg);
    }
  }

  &__percent {
    bottom: -1.5rem;
    left: 2.2rem;
  }

  &__person-status {
    bottom: -1.5rem;
    right: 2.2rem
  }
}

.signal {
  background: rgba(72, 72, 72, 0.8);
  border-radius: 1rem;
  position: absolute;
  padding: s(4) s(10);
  bottom: s(100);
  left: 50%;
  transform: translate(-50%);
  max-width: s(500);
  z-index: 50;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: s(5);
}

::-webkit-scrollbar-thumb {
  background: #B9BDC7;
  border-radius: 4px;
  opacity: .5;
}

.mini-map {
  background: #FFFFFF;
  box-shadow: 0 s(16) s(24) rgba(115, 115, 115, 0.2);
  border-radius: s(20);
  width: 236px;
  height: 200px;
  position: absolute;
  margin-left: - s(80);
  right: 3.5rem;
  padding: s(25) s(6);
}

.timeline {
  height: s(150);
}

.information-dots {
  margin-right: - s(16);
}

.tables {
  font-size: s(12);

  &__header {
    color: #B9BDC7;
    border-bottom: s(1) solid #B9BDC7;

    .tables__cell {
      justify-content: center;
      flex-shrink: 0;
    }

    .tables__cell:not(:first-child) {
      border-left: s(1) solid #B9BDC7;
    }
  }

  &__row {
    border-bottom: s(1) solid #B9BDC7;
  }

  &__cell {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;


    &_w {
      &_10px {
        width: s(10);
      }
      &_20px {
        width: s(20);
      }
      &_30px {
        width: s(30);
      }
      &_36px {
        width: s(36);
      }
      &_40px {
        width: s(40);
      }
      &_50px {
        width: s(50);
      }
      &_52px {
        width: s(52);
      }
      &_56px {
        width: s(56);
      }
      &_68px {
        width: s(68);
      }
      &_71px {
        width: s(71);
      }
      &_74px {
        width: s(74);
      }
      &_80px {
        width: s(80);
      }
      &_90px {
        width: s(90);
      }
      &_100px {
        width: s(100);
      }
      &_105px {
        width: s(105);
      }
      &_115px {
        width: s(115);
      }
      &_130px {
        width: s(130);
      }
      &_163px {
        width: s(163);
      }
      &_170px {
        width: s(170);
      }
      &_180px {
        width: s(180);
      }
      &_190px {
        width: s(190);
      }
      &_210px {
        width: s(210);
      }
      &_215px {
        width: s(215);
      }
    }
    &_w_23per {
      width: 23%;
    }
    &_w_27per {
      width: 27%;
    }
    &_w_40per {
      width: 40%;
    }
  }
}

.item-square {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: s(395);
  min-width: s(300);
  padding: s(16) s(24) s(8) s(24);
  background: white;
  border-radius: s(4);
  color: #242021;
  line-height: 1.3;
  position: relative;
  z-index: 5;

  &_condensed {
    flex-shrink: 1;
  }

  &__name {
    font-weight: bold;
    font-size: s(11);
    white-space: normal;
  }
  &__props {
    font-size: s(11);
    font-weight: normal;
    letter-spacing: 0.01em;
  }
  &__statuses {
    display: flex;
    margin-left: - s(2);
    margin-right: - s(2);
    margin-top: s(20);
  }
  &__status {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: s(20);
    height: s(20);
    margin: 0 s(2);
    font-size: s(12);
    font-weight: 600;
    color: #ffffff;
  }
  &__type {
    position: absolute;
    width: s(4);
    height: 100%;
    left: 0;
    top: 0;
    border-radius: s(4) 0 0 s(4);
  }
  &__type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    top: s(11);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: s(2);
    transform: translateX(-50%);
  }
  &__dots {
    right: 0;
    top: s(7);
    cursor: pointer;
  }
}

.app-version {
  right: s(30);
  top: s(30);
}

.connections-active-filter {
  background: rgba(196, 196, 196, 0.21);
  border-radius: s(23);
  height: s(28);
  font-size: s(10);
  line-height: 1.3;
}

.input-radio {
  &_custom {
    border: s(1.5) solid #B9BDC7;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.input-radio:checked + .input-radio_custom {
  border: s(4) solid #00599A;
}


.select_list {
  background: #f0f0f0;
  max-height: s(350);
  overflow-y: scroll;
  
  > div {
    background: #ffffff;
  }
}

.circle-arrow-left__vertical {
  z-index: 0;
}

.arrow-item {

  .arrow-item__right {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: -.375rem;
      margin-top: -.25rem;
      border: .25rem solid transparent;
      border-left: .5rem solid;
      border-left-color: inherit;
    }
  }

  .arrow-item__right, .arrow-item__left {
    border: s(1) solid transparent;
    min-width: 2rem;
    flex-grow: 1;
  }

  &_blue {
    .arrow-item__left, .arrow-item__right {
      border-color: #00599A;
    }
    .arrow-item__text {
      color: #00599A;
    }
  }

  &_purple {
    .arrow-item__left, .arrow-item__right {
      border-color: #C036A2;
    }
    .arrow-item__text {
      color: #C036A2;
    }
  }

  &_green{
    .arrow-item__left, .arrow-item__right {
      border-color: #188B31;
    }
    .arrow-item__text {
      color: #188B31;
    }
  }

  &_dashed {
    .arrow-item__right, .arrow-item__left {
      border-style: dashed!important;
    }
  }

  &_reversed {
    transform: rotateY(180deg);

    .arrow-item__text {
      transform: rotateY(-180deg);
    }
  }
}

.graph-modal {
  &__head {
    box-shadow: 0 10px 15px rgba(115, 115, 115, 0.05);
  }
}

.my-list {
  &__table-container {
    max-width: s(1072);
  }
}

.conn-depth {
  position: absolute;
  left: 0;
  right: 0;
  margin: 4rem 0 0;

  &__select {
    border-width: s(2);
    &:focus {
      border-color: #00599A;
    }
  }
}

