<div class="flex w-full items-center text-b9 text-xs font-medium px-6 h-16">
    <span>Маршрут</span>
</div>
<div class="flex flex-wrap w-full px-6 border-t border-ed overflow-auto">
    <div class="inline-flex flex-wrap w-full">
        //= list-search-input.html
    </div>
</div>
<div class="list-way flex flex-wrap pb-10 pl-6 pr-6">
    <div class="item gray inline-flex relative min-w-0 mt-2">
        <div class="item__inner flex items-center justify-center w-full h-full px-4 min-w-0">
            <div class="inline-flex items-center justify-center min-w-0">
                <svg class="item__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14 8C14 6.9 13.1 6 12 6C10.9 6 10 6.9 10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8ZM18 18C17.8 17.29 14.7 16 12 16C9.31 16 6.23 17.28 6 18H18ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V20H4V18Z" fill="#B9BDC7"/>
                </svg>
            </div>
            <div class="item__text inline-flex min-w-0 mx-2">
                <div class="flex flex-wrap  min-w-0">
                    <div class="item__name inline-flex w-full whitespace-no-wrap overflow-hidden text-xxs font-semibold">
                        <span class="text-overflow overflow-hidden tooltip" title="ООО «ПРОМОБОТ» длинное название">ООО «ПРОМОБОТ» длинное название</span>
                    </div>
                    <div
                            class="item__req inline-flex w-full min-w-0 whitespace-no-wrap overflow-hidden text-xxs font-medium">
                        <span class="text-overflow overflow-hidden">5903113639 / ОГРН 1155958016411</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="choice-button inline-flex items-center justify-center border border-dashed border-c4 mt-4 hover:opacity-75">
        Выберите вторй объект
    </button>
</div>
