<div class="preloader absolute w-full h-full opacity-75 bg-f2">
    <div class="relative w-full h-full">
        <div class="preloader__img flex justify-center items-center absolute rounded-full border border-blue relative">
            <div class="preloader__rotate rounded-full border border-transparent absolute">
                <div class="preloader__rotate-inner rounded-full relative w-full h-full"></div>
            </div>
            <div class="preloader__inner flex justify-center items-center border border-blue rounded-full">
                <div class="preloader__percent text-blue text-2xl flex">
                    0%
                </div>
            </div>
        </div>
    </div>
</div>