<div class="preloader absolute w-full h-full opacity-75 bg-f2">
    <div class="relative w-full h-full">
        <div class="preloader__box flex flex-col justify-center items-center">
            <div class='sk-wave'>
                <div class='sk-rect sk-rect-1'></div>
                <div class='sk-rect sk-rect-2'></div>
                <div class='sk-rect sk-rect-3'></div>
                <div class='sk-rect sk-rect-4'></div>
                <div class='sk-rect sk-rect-5'></div>
            </div>
<!--            <div class="flex justify-center items-center h-10 px-4 bg-red text-white font-semibold rounded-md text-sm cursor-pointer hover:opacity-75 mt-3">-->
<!--                Отменить запрос-->
<!--            </div>-->
        </div>
    </div>
</div>