<div class="flex flex-wrap w-full mt-6 px-6 pb-6 overflow-auto">
    <div class="inline-flex w-full font-medium">
        Регион
    </div>
    <div class="inline-flex flex-wrap w-full mt-4">
        <form class="list-search inline-flex relative w-full items-center border-b border-c4 mb-6 mt-3">
            <input type="search" class="py-1 inline-flex flex-grow cursor-text focus:outline-none relative z-10"
                   placeholder="Поиск" />
            <div class="list-search__clear inline-flex absolute right-0 flex-shrink-0 items-start hover:opacity-75 bg-white flex-shrink-0 cursor-pointer z-20" onclick="this.previousElementSibling.value = ''">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="icon/content/clear_24px" opacity="0.5">
                        <path id="icon/content/clear_24px_2" d="M12.6667 4.27325L11.7267 3.33325L8.00001 7.05992L4.27334 3.33325L3.33334 4.27325L7.06001 7.99992L3.33334 11.7266L4.27334 12.6666L8.00001 8.93992L11.7267 12.6666L12.6667 11.7266L8.94001 7.99992L12.6667 4.27325Z" fill="black" fill-opacity="0.54"></path>
                    </g>
                </svg>
            </div>
        </form>
        <div class="lists-block__regions w-full flex flex-wrap overflow-auto">
            <div>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    10 - Республика Карелия
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    11 - Республика Коми
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    12 - Республика Марий Эл
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    13 - Республика Мордовия
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    14 - Республика Саха (Якутия)
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    Республика Северная Осетия
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    16 - Республика Татарстан
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    17 - Республика Тыва
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    18 - Удмуртская Республика
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    19 - Республика Хакасия
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    20 - Чеченская Республика
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    21 - Чувашская республика
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    22 - Алтайский край
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    23 - Краснодарский край
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    24 - Красноярский край
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    25 - Приморский край
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    26 - Ставропольский край
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    27 - Хабаровский край
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    28 - Амурская область
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    29 - Архангельская область и Ненецкий АО
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    30 - Астраханская область
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    31 - Белгородская область
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    32 - Брянская область
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    33 - Владимирская область
                                </span>
                            </span>
                </label>
                <label class="flex check-controls items-center w-full py-2 cursor-pointer">
                    <input type="checkbox" class="check-controls__checkbox hidden" />
                    <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
                    <span class="select-none inline-flex min-w-0">
                                <span class="text-overflow whitespace-no-wrap overflow-hidden">
                                    34 - Волгоградская область
                                </span>
                            </span>
                </label>
            </div>
        </div>
    </div>
</div>