<div class="flex w-full items-center text-b9  text-xs font-medium px-6 h-16">
    <span>Настройки</span>
</div>
<div class="flex flex-wrap w-full mt-6 px-6">
    <div class="inline-flex w-full font-medium">
        Объекты
    </div>
    <div class="inline-flex flex-wrap w-full mt-4">
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" checked />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Организации</span>
        </label>
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Индивидуальные предприниматели</span>
        </label>
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Физлица</span>
        </label>
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Владельцы</span>
        </label>
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Руководители</span>
        </label>
    </div>
</div>
<div class="flex flex-wrap w-full mt-6 px-6">
    <div class="inline-flex w-full font-medium">
        Статус
    </div>
    <div class="inline-flex flex-wrap w-full mt-4">
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" checked />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Действующая</span>
        </label>
        <label class="flex check-controls items-center w-full py-2 cursor-pointer">
            <input type="checkbox" class="check-controls__checkbox hidden" />
            <span class="check-controls__check-custom inline-flex border border-b9 mr-2"></span>
            <span class="select-none inline-flex">Недействующая</span>
        </label>
    </div>
</div>
//= regions-filters.html